name: Lint and Package

on: [push, pull_request]

jobs:
  lint-and-test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.12'
        cache: 'pip'

    - name: Install CI Dependencies
      run: |
        pip install pip-tools
        pip-compile --extra dev -o - pyproject.toml | pip install -r /dev/stdin -U

    - name: Lint
      run: |
        black --check .
        ruff check .

    - name: Package
      run: |
        python -m build
        twine check dist/*

    - name: Publish to Test PyPI
      if: startsWith(github.ref, 'refs/tags/test-v')
      env:
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: ${{ secrets.TEST_PYPI_API_TOKEN }}
        TWINE_REPOSITORY_URL: https://test.pypi.org/legacy/
      run: |
        twine upload dist/*.whl

    - name: Publish to PyPI
      if: startsWith(github.ref, 'refs/tags/v')
      env:
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}
      run: |
        twine upload dist/*.whl
